@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --font-color-main:#06096f;
  --bg-color-main:#e6eaff;
  --bg-color-second:#110fc8;

  color-scheme: light dark;
  color: var(--font-color-main);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--font-color-main);
    background-color: var(--bg-color-main);
  }
}

